html,
body {
  height: 100%;
}
.transition {
  transition: All 2s;
}
.transitionResize {
  transition: width 2s, height 2s;
}
.jumbotron {
  width: 40%;
  float: left;
  margin-right: 54px;
  margin-left: 18px;
}
.navbar-form {
  max-width: 604px;
}
.navbar-form .form-group {
  margin-left: 4px;
  max-width: 203px;
}
.navbar-form button {
  margin-left: 10px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;
}
.well {
  padding: 0;
}
.auth-area a {
  margin: 4px;
}
.gameOptions a {
  margin: 4px;
}
.toastr-top-right {
  top: 70px;
}
.toast-success {
  background-colSor: #13987e;
}
.top-padding {
  padding-top: 10px;
}
.margin-left {
  margin-left: 10px;
}
input,
select {
  max-width: 320px;
}
.inline {
  display: inline-block;
}
.absolute-center {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pong,
.tetris {
  text-align: center;
}
.pong button,
.tetris button {
  margin: 8px;
}
.pong .score {
  width: 146px;
  height: 32px;
  border: 1px solid #fff;
  margin-bottom: 12px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  padding-left: 4px;
}
.pong .aiScore {
  float: left;
  width: 84px;
}
.pong .playerScore {
  float: right;
  margin-right: 10px;
}
.tictactoe {
  height: 480px;
  width: 92%;
  background: #101010;
  text-align: center;
}
.tictactoe .peer-details {
  width: 240px;
  position: absolute;
  top: 50px;
  right: 140px;
}
.tictactoe button {
  margin: 8px;
}
.tictactoe .game {
  display: inline-block;
  height: 360px;
  margin-top: 34px;
}
.tictactoe .game .fa {
  line-height: inherit;
  font-size: 80px;
}
.tictactoe .game div {
  width: 120px;
  height: 120px;
  border: 1px solid;
}
.tictactoe .game-row {
  border: none !important;
  float: left;
}
.tictactoe .please-wait {
  font-size: 64px !important;
  margin-top: -230px;
}
.welcome h2 {
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #208a00;
  text-transform: capitalize;
}
.options .btn {
  margin: 4px;
}
.options.ng-hide-remove {
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.options.ng-hide-add {
  -moz-animation: fadeOut 2s;
  -o-animation: fadeOut 2s;
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
  display: block !important;
}
.welcome.ng-hide-remove {
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.welcome.ng-hide-add {
  -moz-animation: fadeOutDown 1s;
  -o-animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  animation: fadeOutDown 1s;
  display: block !important;
}
.game.ng-hide-remove {
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  animation: fadeIn 4s;
}
.game.ng-hide-add {
  -moz-animation: fadeOutDown 1s;
  -o-animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  animation: fadeOutDown 1s;
  display: inline-block !important;
}
.pong,
.tetris {
  height: 80%;
  width: 80%;
}
.tetris .tetris-canvas {
  margin-top: 20px;
}
.tetris .tetris-next-shape {
  width: 120px;
  height: 120px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}
.tetris .player-score {
  width: 120px;
  height: 120px;
  position: absolute;
  margin-left: 20px;
  margin-top: 170px;
  border: 1px solid #ccc;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  padding-left: 4px;
}
.tetris .score {
  margin-top: 45px;
}
.game-of-life {
  text-align: center;
}
.well.game-of-life {
  background-color: #151515;
}
@media (max-height: 550px) {
  .footer {
    text-align: right;
  }
  .footer.navbar {
    min-height: 20px;
  }
  .navbar {
    margin-bottom: 2px;
  }
}
@media (max-height: 500px) {
  .tictactoe {
    height: 100%;
  }
  .tictactoe .game {
    height: 236px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .tictactoe button {
    margin: 6px;
  }
  .tictactoe .game div {
    width: 80px;
    height: 80px;
  }
  .tictactoe .game .fa {
    font-size: 56px;
  }
}
@media (max-height: 380px) {
  .tictactoe .game {
    height: 206px;
  }
  .tictactoe .game div {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 1400px) {
  .pong {
    width: 100%;
  }
  .pong canvas {
    width: 94%;
  }
}
@media (max-width: 992px) {
  .tictactoe .peer-details {
    width: 180px;
  }
  input {
    max-width: 150px !important;
  }
  .basic-transform input[type="number"] {
    max-width: 60px !important;
  }
}
@media (max-width: 880px) {
  .tictactoe .peer-details {
    right: 24px;
  }
}
@media (max-width: 768px) {
  .jumbotron {
    float: none;
    width: initial;
  }
}
@media (max-width: 700px) {
  .tictactoe .peer-details {
    right: 16px;
  }
  .panel-body {
    padding: 6px;
  }
  .tictactoe .peer-details {
    width: 164px;
  }
  .panel-title {
    font-size: 14px;
  }
  .panel-heading {
    padding: 6px;
  }
}
@media (max-width: 400px) {
  .tictactoe .game div {
    width: 104px;
    height: 104px;
  }
  .tictactoe .game div {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 380px) {
  .tictactoe .game {
    height: 220px;
  }
  .tictactoe .game div {
    width: 70px;
    height: 70px;
  }
  .tictactoe .game .fa {
    font-size: 56px;
  }
  .peer-details {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    margin-left: 58px;
    width: 180px !important;
  }
}
