html,body
    height: 100%

.toastr-top-right
	top 70px

.toast-success
	background-colSor #13987e

.top-padding
	padding-top 10px

.margin-left
	margin-left 10px

input, select
	max-width: 320px

.inline
	display: inline-block

body
  background:#222;

.absolute-center
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;


.tictactoe
  height: 480px;
  width:80%;
  background:#3E3E3E;
  text-align:center;
  .game
    display: inline-block;
    padding-top: 34px;
    .fa
      line-height: inherit;
      font-size: 80px;

  .game div
    width:120px;
    height:120px;
    border: 1px solid
  .game-row
    float:left;
  .play-again
    margin-top: 248px;

.welcome h2
  padding-top:20px;
  font-family: monospace;
  color:#208A00
  text-transform: capitalize;
  //#859900;

.options .btn
  margin: 4px;

.options.ng-hide-remove
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;

.options.ng-hide-add
	-moz-animation: fadeOut 2s;
	-o-animation: fadeOut 2s;
	-webkit-animation: fadeOut 2s;
	animation: fadeOut 2s;
	display: block !important;

.welcome.ng-hide-remove
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;

.welcome.ng-hide-add
  -moz-animation: fadeOutDown 1s;
  -o-animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  animation: fadeOutDown 1s;
  display: block !important;

.game.ng-hide-remove
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;

.game.ng-hide-add
    -moz-animation: fadeOutDown 1s;
    -o-animation: fadeOutDown 1s;
    -webkit-animation: fadeOutDown 1s;
    animation: fadeOutDown 1s;
    display: inline-block !important;
