html,body
    height: 100%

footer
	padding-left 15px
	padding-right 15px


.navbar-form
    max-width 604px
    .form-group
        margin-left 4px
        max-width 203px
    button
        margin-left 10px

.auth-area a
	margin 4px

.gameOptions a
  margin 4px

.toastr-top-right
	top 70px

.toast-success
	background-colSor #13987e

.top-padding
	padding-top 10px

.margin-left
	margin-left 10px

input, select
	max-width: 320px

.inline
	display: inline-block

.absolute-center
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

.pong
  text-align:center;
  button
    margin: 8px;
  .score
    width: 146px;
    height: 32px;
    border: 1px solid white;
    margin-bottom: 12px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    padding-left: 4px;
  .aiScore
    float:left;
    width:84px;
  .playerScore
    float:right;
    margin-right: 10px;

.tictactoe
  height: 480px;
  width:80%;
  background:#101010;
  text-align:center;
  .peer-details
    width: 240px;
    position: absolute;
    top: 50px;
    right: 140px;
  button
    margin: 8px;
  .game
    display: inline-block;
    height: 360px;
    margin-top: 34px;
    .fa
      line-height: inherit;
      font-size: 80px;

  .game div
    width:120px;
    height:120px;
    border: 1px solid
  .game-row
    float:left;
  .please-wait
    font-size: 64px !important;
    margin-top: -230px;


.welcome h2
  padding-top:20px;
  font-family: monospace;
  color:#208A00
  text-transform: capitalize;
  //#859900;

.options .btn
  margin: 4px;

.options.ng-hide-remove
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	animation: fadeIn 2s;

.options.ng-hide-add
	-moz-animation: fadeOut 2s;
	-o-animation: fadeOut 2s;
	-webkit-animation: fadeOut 2s;
	animation: fadeOut 2s;
	display: block !important;

.welcome.ng-hide-remove
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;

.welcome.ng-hide-add
  -moz-animation: fadeOutDown 1s;
  -o-animation: fadeOutDown 1s;
  -webkit-animation: fadeOutDown 1s;
  animation: fadeOutDown 1s;
  display: block !important;

.game.ng-hide-remove
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    animation: fadeIn 4s;

.game.ng-hide-add
    -moz-animation: fadeOutDown 1s;
    -o-animation: fadeOutDown 1s;
    -webkit-animation: fadeOutDown 1s;
    animation: fadeOutDown 1s;
    display: inline-block !important;

.pong
  height:80%
  width:80%
