extend ../includes/layout

block main-content
    .container
      .well.absolute-center.tictactoe.center(ng-controller="tictactoeController")
        .welcome.animated(ng-show="!isPlaying")
          h2 {{welcome}}

          .options.animated(ng-show="isGreeted")
            .btn.btn-default(ng-click="play()") Yes

        .game.animated(ng-show="gameStarted")
          .game-row(data-ng-repeat="row in gameObject track by $index")
            .column(ng-repeat="col in row track by $index",
                ng-class="{'empty' : !col ,  'fa fa-times' : col == 1 ,  'fa fa-check' : col == 2 }",
                ng-click="gameClick(row, $index)")
        .play-again(ng-show="gameOver && gameStarted")
          button.btn.btn-feault(ng-click="playAgain()") Play Again?
