.container.transition
  .well.absolute-center.pong.center.transition#pong

    .game.animated.transition
      #aiScore.score.aiScore Ai : {{aiScore}}
      #playerScore.score.playerScore Player 1 : {{playerScore}}
      canvas#pong-canvas.transition(width="1500px", height="650px", style="border:1px solid #ccc;").pong-canvas

    .play-again(ng-show="gameOver && !controlOptions")
      button.btn.btn-default(ng-click="showControlls()") Play Again?
    .play-again(ng-show="gameOver && controlOptions")
      button.btn.btn-default.fa.fa-hand-o-up(ng-click="mouseControl()")
      button.btn.btn-default.fa.fa-keyboard-o(ng-click="keyControl()")
