.container
	.jumbotron.text-center.gameOptions.transition
		h2
		p css, html5 & js experiments

		a.btn.btn-default(href="experiments/transitions") Transitions
		a.btn.btn-default(href="experiments/sonar") Sonar
		a.btn.btn-default(href="experiments/canvas-transform") Canvas Transform

	.jumbotron.text-center.gameOptions.transition
		h2
		p hacking ground for nodejs and some games

		a.btn.btn-default(href="/play/tictactoe") Tic Tac Toe
		a.btn.btn-default(href="/play/pong") Pong
		a.btn.btn-default(href="/play/tetris") Tetris

	.jumbotron.text-center.gameOptions.transition
		h2
		p some experimental ai stuff

		a.btn.btn-default(href="/ai/gameoflife") Game of Life
		a.btn.btn-default(href="/ai/hunter-prey") Hunter Prey

	.jumbotron.text-center.transition.auth-area(ng-hide="identity.isAuthenticated()")
		h2
			.fa.fa-lock

			p Login or Register

			a.btn.btn-default(href="/login")
				.fa.fa-user &nbsp; Local Login
			a.btn.btn-default(href="/signup")
				.fa.fa-user &nbsp; Local Signup
			a.btn.btn-primary(href="/auth/facebook", target="_self")
				.fa.fa-facebook &nbsp; Facebook
			a.btn.btn-info(href="/auth/twitter", target="_self")
				.fa.fa-twitter &nbsp; Twitter
			a.btn.btn-danger(href="/auth/google", target="_self")
				.fa.fa-google-plus &nbsp; Google
