.container.transition.basic-transform
  .well.absolute-center.text-center
    canvas.transition#canvas
  .well.controls
    div major transform
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[0]")
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[1]")
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[2]")
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[3]")
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[4]")
      input(type="number", name="transform", min="-10", max="10", ng-model="majorTransform[5]")
    div Shape size
      input(type="range", name="shapeSize", ng-model="squareSize")
    div initial co-ords
      input(type="range", name="canvasXOffSet", max="{{maxX}}", ng-model="canvasXOffSet")
      input(type="range", name="canvasYOffSet", max="{{maxY}}", ng-model="canvasYOffSet")
