.container.webgl.transition
  .well
    div.scene#container
    .controls
      div
        select.form-control.inline(ng-model="activeShape", ng-options="shape.geometry.type + ' - ' + index for (index,shape) in shapes")
      div
        .btn.btn-default(ng-click="addSphere()") Add Sphere
        .btn.btn-default(ng-click="addBox()") Add Box
      b Scale
      input(type="range", step=0.1, name="x", min="0", max="5", ng-model="activeShape.scale.x")
      input(type="range", step=0.1, name="y", min="0", max="5", ng-model="activeShape.scale.y")
      input(type="range", step=0.1, name="z", min="0", max="5", ng-model="activeShape.scale.z")
      b Position
      input(type="range", step=5, name="x", min="-250", max="250", ng-model="activeShape.position.x")
      input(type="range", step=5, name="y", min="-250", max="250", ng-model="activeShape.position.y")
      input(type="range", step=5, name="z", min="-250", max="250", ng-model="activeShape.position.z")
      b Rotation
      input(type="range", step=0.1, name="x", min="0", max="5", ng-model="activeShape.rotation.x")
      input(type="range", step=0.1, name="y", min="0", max="5", ng-model="activeShape.rotation.y")
      input(type="range", step=0.1, name="z", min="0", max="5", ng-model="activeShape.rotation.z")
      b Colour
      input(type="range", step=0.1, name="x", min="0", max="1", ng-model="activeShape.material.color.r")
      input(type="range", step=0.1, name="y", min="0", max="1", ng-model="activeShape.material.color.g")
      input(type="range", step=0.1, name="z", min="0", max="1", ng-model="activeShape.material.color.b")
      b Wireframe
      .input
        input(type="checkbox", name="wireframe", ng-model="activeShape.material.wireframe")
